ul.controls
		li.prev
			a.previousFeature(style="color:#a8b934; cursor: pointer;")
				span
					i.icon-arrow-left
		li.next
			a.nextFeature(style="color:#a8b934; cursor: pointer;")
				span
					i.icon-arrow-right