#feature2
	h1
		| Couverture 
		span
			small Ardoise, tuile et zinguerie
	p.image
		img(src='/images/couverture1.JPG', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| La couverture, désigne l'agencement de matériaux recouvrant un bâtiment pour le protéger 
			| des intempéries. Le but est de protéger contre les pluies, les poussières, la neige, etc.
			| Elle doit aussi résister aux contraintes mécaniques des vents violents. Elle fait partie du gros œuvre.
			br
			| Considérée comme la cinquième façade du bâtiment, elle apporte aussi son cachet et contribue à l'esthétique de l'habitation.
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='/techniques?couverture')
				span En savoir plus...
	include feature_control
#feature1
	h1
		| Charpentes 
		span
			small Auto-portante et traditionnelle
	p.image
		img(src='/images/charpente1.JPG', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| Une charpente est un assemblage de pièces de bois ou de métal, servant à soutenir ou couvrir des constructions et faisant partie de la toiture.
		p	
			| On désigne souvent par charpente l'ossature des poteaux et poutres qui reprend le poids de la couverture ainsi que les charges verticales telles que les surcharges climatiques.
		
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='/techniques?charpentes')
				span En savoir plus...
	include feature_control

#feature3
	h1
		| Structure bois 
		span
			small Poteaux poutres & ossatures bois
	p.image
		img(src='/images/ossature.JPG', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='/techniques?structure-bois')
				span En savoir plus...
	include feature_control

#feature4
	h1
		| Isolation 
		span
			small 
	p.image
		img(src='/images/isolation.jpg', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| L'isolation thermique désigne l'ensemble des techniques mises en œuvre pour limiter les transferts de chaleur entre un milieu chaud et un milieu froid. 
		p
			| L'isolation d'un bâtiment permet de diminuer les échanges de chaleur entre l'intérieur du bâtiment et l'environnement extérieur, et ainsi diminuer les besoins de chauffage et, le 

			| cas échéant, de climatisation. Cette isolation doit être pensée en fonction des contraintes climatiques du lieu où se situe le bâtiment.
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='/techniques?isolation')
				span En savoir plus...
	include feature_control

#feature5
	h1
		| Entreprises général 
		br
		span
			small Cloison, électricité, plomberie, maçonnerie
	p.image
		img(src='/images/maconnerie.jpg', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| Pour vous offrir un service optimal nous pouvons prendre en charge tous vos travaux du bâtiments. 

	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='/techniques?entreprises-general')
				span En savoir plus...
	include feature_control