#feature1
	h1
		| Couverture 
		span
			small Ardoise, tuile et zinguerie
	p.image
		img(src='images/tsbi_home.jpg', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| Nous intervenons sur la walonnie, en habitats privés, collectifs et sites industriels, pour des toitures à refaire à neuf ou à rénover. De plus nous proposons des services comme le nettoyage de gouttières, isolation ou encore la pose et le remplacement de vélux. Nous faisons également les couvertures, en ardoises naturelles, en tuiles, en taules, en zinc, en cuivre. Adressez-vous à nous en toute confiance pour des études gratuites chez vous ou sur plans dans un délai rapide.
		
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='./')
				span En savoir plus...
	include feature_control
#feature2
	h1
		| Charpente 
		span
			small Ossature bois
	p.image
		img(src='images/tsbi_home2.jpeg', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| Une charpente est un assemblage de pièces de bois ou de métal, servant à soutenir ou couvrir des constructions et faisant partie de la toiture.
		p	
			| On désigne souvent par charpente l'ossature de poteaux et poutres qui reprend le poids de la couverture ainsi que les charges verticales telles que les surcharges climatiques.
		
	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='./')
				span En savoir plus...
	include feature_control

#feature3
	h1
		| Maçonnerie
		span
			small 
	p.image
		img(src='images/tsbi_home3.jpeg', alt='TSBI', title='TSBI', width='457', height='270')
	//-p.date
		| Added: 15
		span /
		| 10
		span /
		| 2007
	.details
		p
			| Pour vous offrir un service optimal nous pouvons prends en charge tous vos travaux de maçonnerie. Bien que notre métier de prédilection reste le bois nous avons toutes les compétences pour réaliser les divers travaux de maçonnerie liée à votre projet, et ainsi vous facilité la vie.

	ul.tabs
		//-li.visit
			a(href='./')
				span Visit
		//-li
			strong
				span Overview
		//-li
			a(href='./')
				span View project
		li(style="float: right;")
			a(href='./')
				span En savoir plus...
	include feature_control