- each image in images
	- if (image.toLowerCase().match("jpg"))
		a.referece-picture-link(href="/images/#{folder}/#{image}", rel="shadowbox")
			img.referece-picture(src="/images/#{folder}/#{image}", rel="shadowbox")