#work-projects

  ul.d.first
    li
      a.reference-link(href='/references/blanmont')
        strong Blanmont
        | Janvier 2013
  ul.d
    li
      a.reference-link(href='/references/cortil')
        strong Cortil
        | Janvier 0001
  ul.d
    li
      a.reference-link(href='/references/gembloux')
        strong Gembloux
        | Mars 2013
  ul.d
    li
      a.reference-link(href='/references/louvain-la-neuve')
        strong Louvain-La-Neuve
        | Juillet 2013
  ul.d
    li
      a.reference-link(href='/references/pont-a-celles')
        strong Pont à Celles
        | Juillet 2013
  ul.d
    li
      a.reference-link(href='/references/promelles')
        strong Promelles
        | Juillet 2013