include ../layouts/application

		#featured
			include includes/features
			
		#introduction-a
			.column.first
				h1
					| TSBI
					small Á votre service...
				p
					| TsbiConstruct est une entreprise familiale  & dynamique spécialisée dans les constructions en ossature bois, dans l’isolation et dans la couverture.
					| La petite structure de notre entreprise  nous permet d’offrir une communication rapide et efficace.
				p De plus nous réalisons 
					strong tous vos projets à l’aide de produits écologiques 
					| afin de respecter notre planète.
				p.more
					a(href='/techniques') En savoir plus...

			.column.second
				h1
					|	Nos spécificités
					small Au goût du jour.
				p
					ul
						li Utilisation de matériaux écologique

						li La maîtrise des techniques modernes de construction (isolation, étanchéité à l’air, …)

						li Une structure qui permet de faire du « sur mesure » pour tous vos projets

						li Une communication efficace avec tous les acteurs de votre projet.
				p.more
					a(href='/techniques') En savoir plus...
#outer-wrapper
	#introduction-b
		.column.first
			h2 Coordonnées de l'entreprise
			h3
				a TSBI Construct
			
			p(style="float: right;")
				| tel: +32 (0) 488 43 93 50
			p
				| RUE ADJUDANT KUMPS, 46A
				br
				| 1495, MELLERY- BELGIQUE
			p
				| Notre entreprise intervient auprès des particuliers, mais aussi auprès des entreprises. Une équipe composée de professionnels diplômés & motivés, intervient chez vous dans toute la région du Brabant wallon. Nous sommes à votre disposition, pour répondre à toutes vos questions.
				br
				| Que vous soyez une entreprise ou particulier, nous étudions avec vous vos projets.
				p.button-a
					a(href='/contact')
						span Contactez nous
		.column.second
			iframe(width='425', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=fr&geocode=&q=RUE+ADJUDANT+KUMPS,+46A+1495,+MELLERY-+BELGIQUE&aq=&sll=37.0625,-95.677068&sspn=40.59616,92.636719&ie=UTF8&hq=&hnear=Rue+Adjudant+Kumps+46,+Mellery+1495+Villers-la-Ville,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&ll=50.750539,4.568939&spn=0.019072,0.036564&z=9&output=embed&amp;iwloc=off')
			br
				small
					a(href='https://maps.google.com/maps?f=q&source=embed&hl=fr&geocode=&q=RUE+ADJUDANT+KUMPS,+46A+1495,+MELLERY-+BELGIQUE&aq=&sll=37.0625,-95.677068&sspn=40.59616,92.636719&ie=UTF8&hq=&hnear=Rue+Adjudant+Kumps+46,+Mellery+1495+Villers-la-Ville,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&ll=50.590539,4.568939&spn=0.019072,0.036564&z=14', style='color: #0000FF; text-align: left;') Agrandir le plan

	#footer
		p.first.vcard
			| Copyright ©
			a.fn.org.url TSBI 
			| 2013 | 
			em.adr
				span.country-name Belgique 
				
		
