include ../layouts/application

		#featured
			include includes/features
			
		#introduction-a
			.column.first
				h1
					|	Ecologique
					small Au goût du jour.
				p
					| Parce qu'aujourd'hui, l'environnement est devenu une préoccupation majeure et qu'il est devenu indispensable de protéger notre planète, nous avons fait de l'écologie notre principale valeur. Confort visuel, acoustique, thermique et hygrothermique, l’habitat qui utilise des produits écologiques est en plus idéal pour la santé et le confort de ses habitants. Un lieu sain passe par l'utilisation de produits écologiques. Ces derniers favoriseront un endroit où il fait bon vivre.
				p.more
					a(href='./') En savoir plus...
			.column.second
				h1
					| L'écopack
					small La législation en votre faveur.
				p
					| Dès le 1er mai 2012, cette formule associera les primes à l'énergie classiques, qui subsistent indépendamment de l'ecopack, et l'octroi d'un prêt à 0 pc.
					| Il s'adresse aux ménages dont les revenus ne dépassent pas 93.000 euros. Les particuliers, qu'ils soient propriétaires, propriétaires bailleurs ou locataires, pourront choisir les travaux qu'ils veulent accomplir.
				p.more
					a(href='./') En savoir plus...
#outer-wrapper
	#introduction-b
		.column.first
			h2 Coordonnées de l'entreprise
			h3
				a TSBI Construct
			
			p(style="float: right;")
				| tel: +32 (0) 488 43 93 50
			p
				| RUE ADJUDANT KUMPS, 46A
				br
				| 1495, MELLERY- BELGIQUE
			p
				| Notre entreprise intervient auprès des particuliers, mais aussi auprès des entreprises. Une équipe composée de professionnels diplômés & motivés, intervient chez vous dans toute la région du Brabant wallon. Nous sommes à votre disposition, pour répondre à toutes vos questions.
				br
				| Que vous soyez une entreprise ou particulier, nous étudions avec vous vos projets.
				p.button-a
					a(href='/contact')
						span Contactez nous
		.column.second
			iframe(width='425', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=fr&geocode=&q=RUE+ADJUDANT+KUMPS,+46A+1495,+MELLERY-+BELGIQUE&aq=&sll=37.0625,-95.677068&sspn=40.59616,92.636719&ie=UTF8&hq=&hnear=Rue+Adjudant+Kumps+46,+Mellery+1495+Villers-la-Ville,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&ll=50.590539,4.568939&spn=0.019072,0.036564&z=14&output=embed&amp;iwloc=off')
			br
				small
					a(href='https://maps.google.com/maps?f=q&source=embed&hl=fr&geocode=&q=RUE+ADJUDANT+KUMPS,+46A+1495,+MELLERY-+BELGIQUE&aq=&sll=37.0625,-95.677068&sspn=40.59616,92.636719&ie=UTF8&hq=&hnear=Rue+Adjudant+Kumps+46,+Mellery+1495+Villers-la-Ville,+Brabant+Wallon,+R%C3%A9gion+wallonne,+Belgique&t=m&ll=50.590539,4.568939&spn=0.019072,0.036564&z=14', style='color: #0000FF; text-align: left;') Agrandir le plan

	#footer
		p.first.vcard
			| Copyright ©
			a.fn.org.url TSBI 
			| 2013 | 
			em.adr
				span.country-name Belgique 
				
		
