include ../layouts/application
	#content.content-height(style="padding-top: 20px;")
		#side(style="width: 160px;")
				h2.offset Secondary navigation
				ul#subnav
					li.first
						a.active(href='#charpentes') Charpentes
					li
						a(href='#couverture') Couverture
					li
						a(href="#structure-bois") Structure Bois
					li
						a(href='#isolation') Isolation
					li
						a(href='#entreprises-general') Entreprises Général

			#main(style="width:684px;")
				.works#structure-bois(style="display: none;")
					p#breadcrumbs
					h1 Structure Bois
					#job
						h2 Poteaux poutres
						p La structure porteuse est constituée de poteaux et de poutres généralement en bois massif ou lamellé-collé, assemblés rigidement entre eux ce qui lui donne une grande indéformabilité.
							| Entre ces éléments porteurs sont insérés l’isolation et les fenêtres. Ces murs font office de remplissage et n'ont pas de rôle porteur. Ce type de construction permet de réaliser de grandes 
							| portées préservant de grands volumes libres et des façades très ouvertes.

						h2 Ossatures bois
						img.little-image-righted(src="/images/charpente.JPG", style="float: right; margin-top: 4px;")
						p La maison ossature bois est la technique de construction qui s’adapte le mieux à la plupartdes styles régionaux. C’est donc la plus répandue.
							| Les murs de la maison à ossature de bois sont réalisés sur la base d’une structure constituée de membrures de bois espacées de 40 ou 60 cm (en général)
							| entre lesquelles sont placés les matériaux isolants. L'achèvement de la construction couverte peut être obtenu en quelques jours seulement,
							| car il n'y a pas de temps de séchage. La tendance à mieux isoler les maisons conduit de plus en plus à doubler cette ossature d'une isolation
							| périphérique extérieure en matériau isolant lourd (type fibre de bois par exemple) qui améliore l'isolation, procure un meilleur déphasage thermique
							| au bénéfice du confort d'été et supprime tous les ponts thermiques imputables à l'ossature bois. La maison à ossature bois permet des agrandissements
							| plus économiques et rapides à mettre en œuvre.
						div(style="text-align: center")
							img.middle-image(src="/images/structure2.JPG")
							img.middle-image(src="/images/structure3.JPG")
				.works#charpentes(style="display: block;")
					p#breadcrumbs
					h1 Charpentes
					#job
						h2 Auto-portante
						p La charpente autoportante est constitué d’une unique panne faîtière sur la quelle viennent se poser les chevrons (3.8/23 cm). La dimension des chevrons permet de réaliser le pant de 
							| toiture sans panne intermédiaire. De plus l’isolation pourra être réalisée dans l’épaisseur de la toiture.  Cette technique est la plus rentable en construction neuve.
						h2 Traditionnel
						img.little-image-righted(src="/images/charpente2.JPG", style="float: right; margin-top: 8px;")
						p ...
				.works#couverture
					p#breadcrumbs
					h1 Couverture
					#job
						h2 Tuiles à emboîtement
						p Elles sont les plus rapides à mettre en œuvre. Elles permettent de réduire le nombre de tuiles au m2, tout en empêchant le glissement par un système d'emboîtement. Par simple, double 
							| ou triple emboîtement, les systèmes de cannelures et de nervures assurent l'étanchéité.Leur faible recouvrement réduit considérablement le poids de la couverture Il existe des modèles au 
							| dessin propre à leur fabrication, où elles imitent la tuile plate, l'ardoise, les tuiles canal,…
						h2 Ardoise naturelle
						p Elles sont fabriquées à partir de schiste ardoisier, débité puis scié à la dimension voulue. Une ardoise est imperméable, non poreuse, ingélive et résistante aux agents atmosphériques les 	
							| plus agressifs. Les épaisseurs et les caractéristiques des ardoises naturelles sont normalisées. Ces produits peuvent être posés au crochet, c'est la méthode la plus répandue, ou au clou, c'est 
							| un mode de pose à l'esthétique plus pure, obligatoire pour les monuments historiques.
						.tab
							h4(style="color: black;") Nous posons deux familles de format :
							#introduction-a(style="background: none; padding: 0;")
								.column.first(style="width: 30%; padding: 0;")
									| Le format rectangulaire, dit traditionnel.
									br
									img.little-image-righted(src="/images/tsbi_ardoise1.jpg")
								.column.second(style="width: 40%")
									| Le format « carré sur pointe » (30cm x 30cm), dit économique.
									br 
									| En effet, ce dernier est imbattable pour son rapport duré de vie/prix.
									br
									img.little-image-righted(src="/images/tsbi_ardoise2.jpg")

				.works#isolation
					p#breadcrumbs
					h1 Isolation
					#job
						h2 Sarking
						img.little-image-righted(src="/images/tsbi_steico_protect.jpg", style="float: right; margin-top: -20px;")
						p Lorsque l'on désire garder la charpente apparente, il est nécessaire de poser l'isolant au-dessus 
							| de ceux-ci. Dans ce cas la toiture "sarking" est la plus appropriée. Le sarking est un procédé 
							| permettant d’isoler en continu par l’extérieur la toiture.
						p Il se compose de différentes couches successives (de bas en haut) :
						#introduction-a(style="background: none; padding: 0;")
							.column.first(style="width: 25%; padding: 0;")
								img(src="/images/tsbi_sark.jpg", style="width: 80%;")
							.column.second
								ol
									li chevron
									li panneautage ou voligeage
									li barrière d'étanchéité à l'air et à la vapeur
									li isolation 
									li sous-toiture
									li contre-latte
									li latte
									li tuile

						strong Comme principaux avantages a ce procédé, on peut énumérer:
						ul.a
							li moins de ponts thermiques, lors de la mise en place de l'isolation entre les chevrons: chaque chevron forme en fait un pont thermique par la moins bonne valeur d'isolation du bois.
							li protection supplémentaire du bois de la toiture, qui se trouve d'ailleurs entièrement sous l'isolation.
							li pas de perte de place du côté intérieur
							li très intéressant pour les rénovations : la finition intérieure ne doit pas être enlevée.
						h2 Insuflation
						p L’isolation insufflée de ouate de cellulose est sans conteste la technique d’isolation qui offre le meilleur rapport qualité/prix dans les isolants naturels.
							br
							| La ouate de cellulose, est un matériau de construction isolant très prisé en écoconstruction. 
							| Elle est fabriquée à partir d'environ 85 % de journaux recyclés Elle est idéale pour une pose 
							| en toiture, combles, sous-pentes, murs. Elle procure une excellente protection contre le froid 
							| en hiver et contre la chaleur en été (très bonne inertie thermique).


				.works#entreprises-general
					p#breadcrumbs
					h1 Entreprises général
					#job
						ul
							li Electricté
							li Plomberie
							li Plafonnage
							li Cloisons
							li Finitions diverses
							li Maçonnerie



#outer-wrapper
	include ../includes/footer

//-
				#steico_protect
					p#breadcrumbs
					h1 Steico Protect
					#job
						h2
							img.little-image-righted(src="images/tsbi_steico_protect.jpg", style="float: right;")
						ul.paper.a
							li Panneaux isolants pour enduits selon homologation par les fabricants d‘enduits.
							li Panneaux isolants pour enduits muraux intérieurs et extérieurs.
						h2 Caractéristiques
						ul.paper.a
							li Panneaux constitutifs de parois respirantes
							li Haute stabilité dimensionnelle
							li Haute performance isolante, tant en hiver qu‘en été
							li Longue expérience du produit
							li Panneau isolant conforme aux normes en vigueur
							li Excellent rapport qualité prix du système panneaux / enduits
							li Mise en oeuvre simple et économique
							li Système constructif testé au feu
						p.text-centered

							a(href="http://eco-energie.arma-sa.com/uploads/bois/media/steico_protect.pdf")
								| Téléchargez la fiche technique Steico protect (PDF - 664 Ko).
							br
							| Source : http://eco-energie.arma-sa.com
				#steico_flex
					p#breadcrumbs
					h1 Steico Flex
					#job
						h2
							img.little-image-righted(src="images/tsbi_steico_flex.jpg", style="float: right;")
						ul.paper.a
							li Isolation compressible flexible des toitures, murs et planchers entre structures.
							li Isolation de parties creuses dans les cloisons, planchers, solivages.
							li Isolation de toiture sous structures portantes.
						h2 Caractéristiques
						ul.paper.a
							li Isolant souple, flexible et compressible
							li Testé dermatologiquement ; sans aucun effet cutané
							li Pose facile
							li S‘adapte aisément aux formes des contours grâce à sa forte compressibilité
							li Évite les ponts thermiques
							li Excellentes propriétés isolantes été comme hiver
							li Ouvert à la diffusion de vapeur d’eau pour un intérieur sain
							li Induit véritablement une atmosphère intérieure saine et de confort naturel
							li Recyclable, ecologique, respecte l‘environnement
							li Matériau de construction testé et autorisé selon les normes européennes en vigueur
						p.text-centered
							a(href="http://eco-energie.arma-sa.com/uploads/bois/steico_flex.pdf")
								| Téléchargez la fiche technique Steico Flex (PDF - 917 Ko).
							br
							| Source : http://eco-energie.arma-sa.com

				#steico_therm
					p#breadcrumbs
					h1 Steico Therm
					#job
						h2
							img.little-image-righted(src="images/tsbi_steico_therm.jpg", style="float: right;")
						ul.paper.a
							li Isolation extérieure de toitures ou dalles protégées des intempéries sous bardage ou habillage.
							li Isolation entre chevrons.
							li Isolation entre solives et sur solives (si combles perdus).
							li Isolation intérieure sous toiture ou dalles / planches.
							li Isolation intérieure sur planches ou dalles sous chape sans isolation phonique.
							li Isolation extérieure des murs sous bardage / habillage.
							li Isolation des structures et ossatures bois.
							li Isolation intérieure des murs.
							li Isolation des cloisons. 
						h2 Caractéristiques
						ul.paper.a
							li Forte résistance à la compression
							li Protection efficace contre les chaleurs estivales
							li Remarquables propriétés isolantes
							li Ouvert à la diffusion de vapeur d’eau
							li Régulateur hygrométrique grâce à sa grande capacité d’absorption
							li Induit véritablement une atmosphère intérieure saine et de confort naturel
							li Recyclable, ecologique, respecte l’environnement
							li Matériau de construction testé et autorisé selon les normes européennes en vigueur	
						p.text-centered
							a(href="http://eco-energie.arma-sa.com/uploads/bois/media/steico_therm.pdf")
								| Téléchargez la fiche technique Steico Steico Therme (PDF - 777 Ko).
							br
							| Source : http://eco-energie.arma-sa.com
				#steico_floor
					p#breadcrumbs
					h1 Steico Floor
					#job
						h2
							img.little-image-righted(src="images/tsbi_steico_floor.jpg", style="float: right;")
						ul.paper.a
							li Isolation de toitures et planchers, protégés des intempérie.
							li Isolation entre chevrons,
							li Isolation de dalles / planchers, combles non aménagés (passage peu fréquent).
							li Isolation intérieure des toitures et planchers (par dessous).
							li Isolation intérieure de dalles sous chape sans but phonique (par le dessus).
							li Isolation de murs sous habillage / bardage.
							li Isolation de structures / ossatures bois.
							li Isolation intérieure des murs. 
						h2 Caractéristiques
						ul.paper.a
							li Isolation phonique (bruits d’impacts) et amélioration acoustique des pièces
							li Fixation mécanique de parquet massif sur lambourdes (rainure languette)
							li Excellentes propriétés isolantes
							li Ouvert à la diffusion de vapeur d’eau
							li Régulateur hygrométrique grâce à sa grande capacité d’absorption
							li Induit véritablement une atmosphère intérieure saine et de confort naturel
							li Recyclable, ecologique, respecte l’environnement
							li Matériau de construction testé et autorisé selon les normes européennes en vigueur
						p.text-centered
							a(href="http://eco-energie.arma-sa.com/uploads/bois/media/steico_floor.pdf")
								| Téléchargez la fiche technique Steico Steico Floor (PDF - 763 Ko).
							br
							| Source : http://eco-energie.arma-sa.com
				#celite
					p#breadcrumbs
					h1 Celite 4D
					#job
						h2 De quoi se compose le panneau de sous-toiture isolant Celit 4D ? 
						img.little-image-righted(src="images/tsbi_celite_1.jpg", style="float: right;")
						p
							| Le panneau de sous-toiture isolant Celit 4D est un panneau bitumé en fibres de bois. Il est fabriqué à base de restes de scieries non traités et de bois d’éclaircissage. Les morceaux de bois sont défibrés sous l’effet de la pression et de la chaleur. La pâte de fibres ainsi obtenue est ensuite pressée en panneaux. La force d’adhérence et les résines propres au bois entraînent le feutrage, ce qui rend tout autre liant superflu. 
							br
							| L’énergie nécessaire à la fabrication dans l'usine norvégienne est produite par la force hydraulique – une source d’énergie inépuisable et écologique. La pression appliquée lors de la fabrication des panneaux en fibres de bois Celit 4D est réduite. 
							br
							| Grâce à leur forte teneur en air, ces panneaux offrent une bonne isolation thermique et sont dès lors aussi appelés panneaux isolants. 

					
						h2 Celit 4D pour l’extérieur: étanchéité à la pluie et perméabilité à la vapeur 
						p 
							| Les panneaux de sous-toiture isolants Celit 4D protègent efficacement la couche d’isolation sous-jacente contre la pluie battante et la neige. Grâce à l’adjonction de 12 % d’émulsion de bitume, ils sont imperméables à l’eau. 
							br
							| Le panneau isolant Celit 4D est un produit naturel de première qualité qui répond aux exigences de la norme DIN 68755 pour les panneaux en fibres de bois douces. Contrairement à la plupart des produits bitumés et synthétiques, les panneaux isolants bitumés en fibres de bois comme Celit 4D sont perméables à la vapeur. Cette capacité de diffusion assure une élimination impeccable de l’humidité contenue dans les matériaux de construction. Cela permet une isolation complète des chevrons, par ex. avec l’isolant en cellulose Thermofloc, sans devoir poser un pare-vapeur sur la face intérieure. L’application de bandes à léger effet freine-vapeur (4d ³ 0,80 m) sur la face intérieure empêche toute formation d’eau de condensation, conformément à la norme DIN 4108. 
						h2 Utilisation
						img.little-image-righted(src="images/tsbi_celite_2.jpg", style="float: left;")
						p
							| Le panneau Celit 4D constitue un panneau de sous toiture suffisamment imperméable à l’eau, avec une rainure astucieuse qui évacue l’eau vers l’extérieur, conformément au point 3.3.6. 
							br 
							| Même sans couverture, le panneau de sous toiture Celit 4D protège pour un temps limité (max. 6 semaines) contre les intempéries. Ainsi, il convient comme couverture provisoire, sans autre étanchéité, et protège le gros œuvre de manière fiable contre l’humidité. 
							br
							| Comme toutes les fibres naturelles, les panneaux isolants en fibres de bois se rétractent dans un environnement sec. Il arrive donc que des panneaux même parfaitement jointifs s’écartent. Mais avec Celit 4D, le profil spécial des chants veille à ce que les eaux de ruissellement s’évacuent toujours vers la face supérieure des panneaux (malgré leur retrait) - même aux endroits critiques où les joints transversaux et longitudinaux se rencontrent. Ce profil spécial dispense donc en règle générale de coller les joints vifs.

						p.text-centered
							br
							| Source : http://www.ecobati.be

