include ../layouts/application
	#content
		#side
				h2.offset Secondary navigation
				ul#subnav
					li.first
						a(href='./') La celullose
					li
						a(href='./') Ardoise naturelle
					li
						a.active(href='/.') Les bardeaux
					li
						a(href='./') Produits types
						ul
							li.first
								a(href='./') Steico Protect
							li
								a(href='./') Steico Flex
							li
								a.active(href='/.') Steico Therm
							li
								a(href='/') Steico Floor
							li
								a(href='./') 4D

				//-#post-preview
					h2
						a(href='./') Adobe PDF and IE caching problem
					p.date
						| Added:
						strong
							| 15
							span /
							| 10
							span /
							| 2007
						| by
						a(href='./') Krzysiek
					p
						| This time the problem concerned opening PDF files that are located outside the public_html folder. It happened last time when were finishing project and this little...
					p.button-b
						a(href='./')
							span More on our blog
			#main
				p#breadcrumbs
					a.home(href='./') Home Page
					| /
					a(href='./') Blog
					| /
					a(href='./') General
					| /
					strong Adobe PDF and IE Caching Problem?
				h1 Programista PHP/SQL
				#job
					h2 Opis stanowiska / obowiązki:
					ul.paper.a
						li Tworzenie aplikacji bazodanowych w oparciu o PHP i MySQL
						li Przygotowywanie specyfikacji aplikacji
						li Określanie czasu pracy potrzebnego na wykonanie danego projektu
						li Modernizacja istnięjących już systemów
						li Integracja wykonanych mechanizmów z szablonami (X)HTML + CSS
						li Rzadko - przygotowywanie szablonów (X)HTML + CSS na potrzeby aplikacji
					h2 Wymagania
					ul.a
						li Bardzo dobra znajomość PHP (4.x - 5.x)
						li Bardzo dobra znajomość baz danych MySQL (4.x - 5.x)
						li Bardzo dobra znajomość JavaScript
						li Dobra znajomość (X)HTML, CSS
						li Umiejętność tworzenia kodu zgodnego ze standardami sieciowymi
						li Podstawowa umiejętność obsługi programów graficznych (Photoshop)
						li Samodzielność, umiejętność planowania własnej pracy i projektów.
						li Umiejętność pracy zespołowej
						li Doświadczenie w pracy na podobnym stanowisku
						li
							| Znajomość języka angielskiego umożliwiająca poprawne rozumienie dokumentacji projektów
					h2 Podsumowanie
					ul.a
						li Oferujemy pracę na pełen etat w młodym, ambitnym zespole,
						li Umowę o pracę,
						li Atrakcyjne warunki wynagrodzenia,
						li Możliwość podnoszenia własnych kwalifikacji zawodowych,
						li Pracę w Poznaniu, od poniedziałku do piątku w godzinach 8-16
					h2 Forma kontaktu
					p
						| Prosimy o nadsyłanie CV wraz z listem motywacyjnym na adres
						a(href='mailto:example@example.com') example@example.com
						| lub wypełnienie formularza bla bla