include ../layouts/application
	#content
		#side
				h2.offset Secondary navigation
				ul#subnav
					li.first
						a.active(href='#celullose') La celullose
					li
						a(href='#ardoise_naturelle') Ardoise naturelle
					li
						a(href='#bardeaux') Les bardeaux
					li
						a(href='#produits_types') Produits types
						ul
							li.first
								a(href='#steico_protect') Steico Protect
							li
								a(href='#steico_flex') Steico Flex
							li
								a(href='#steico_therm') Steico Therm
							li
								a(href='#steico_floor') Steico Floor
							li
								a(href='#4d') 4D

			#main
				#celullose
					p#breadcrumbs
					h1 La celullose
					img(src="images/cellulose.jpg", style="float: right;")
					#job
						h2 L’isolation insufflée:
						ul.paper.a
							li L’isolation insufflée est sans conteste la technique d’isolation qui offre le meilleur rapport qualité/prix dans les isolants naturels.
							br
							li En effet, cette technique a un coût (main-d’oeuvre + matériau), équivalent au coût uniquement matériau des techniques alternatives.
						h2 Les différents produits insufflés sont:
						ul.a
							li Thermofloc (cellulose)
							li Fibre de bois
							li Etc...
				#ardoise_naturelle
					p#breadcrumbs
					h1 Ardoise naturelle
					#job
						h2 L’ardoise naturelle offre beaucoup d’avantages. Outre l’aspect anecdotique de vivre sous un toit de pierre, voici quelques avantages:
						ul.paper.a
							li L’isolation insufflée est sans conteste la technique d’isolation qui offre le meilleur rapport qualité/prix dans les isolants naturels.
							br
							li En effet, cette technique a un coût (main-d’oeuvre + matériau), équivalent au coût uniquement matériau des techniques alternatives.
						h2 Les différents produits insufflés sont:
						ul.a
							li Thermofloc (cellulose)
							li Fibre de bois
							li Etc...