include ../../layouts/application
  
    #content.single
      #main(style="padding-top:12px; padding-bottom: 12px;")
          #work-project
            h1 Laignon
            p.date Janvier 2013
            p
              | Rénovation toiture & charpente. Utilisation du procédé lunaire et highlander.
            p
              | Durée des travaux: 3 semaines. 
            //-.buttons
              p.button-a
                a(href='./')
                  span View Whole Project
              p.button-b
                a(href='./')
                  span Visit Website
          #work-project-pictures
            embed(type='application/x-shockwave-flash', src='https://picasaweb.google.com/s/c/bin/slideshow.swf', width='840', height='317', flashvars='host=picasaweb.google.com&hl=fr&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F102537520770797390310%2Falbumid%2F5830000671137891153%3Falt%3Drss%26kind%3Dphoto%26hl%3Dfr', pluginspage='http://www.macromedia.com/go/getflashplayer')

          #work-projects

            ul.d.first
              li
                a(href='/references/staquet')
                  strong Staquet
                  | Janvier 2013
            ul.d
              li
                a(href='/references/gembloux')
                  strong Gembloux
                  | Janvier 0001
            ul.d
              li
                a.active(href='/references/laignon')
                  strong Laignon
                  | Mars 2013
            ul.d
              li
                a(href='/references/cortil')
                  strong Cortil
                  | Juillet 2013