include ../../layouts/application
    #content.single
      #main(style="padding-top:12px; padding-bottom: 12px;")
          #work-project
            h1 Laignon
            p.date Janvier 2013
            p
              | Rénovation toiture & charpente. Utilisation du procédé lunaire et highlander.
            p
              | Durée des travaux: 3 semaines. 
            //-.buttons
              p.button-a
                a(href='./')
                  span View Whole Project
              p.button-b
                a(href='./')
                  span Visit Website
          #carousel
            include ../includes/images
          include ../includes/menu

  #outer-wrapper
    include ../../includes/footer